<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    body {
        background: url(https://newlivwall.ru/uploads/images/m/o/z/mozhno_li_kleit_oboi_na_zhidkoe_steklo_2.jpg) no-repeat;
        background-size: cover;
    }
</style>
<body>

<h1 align="center"><span style="background-color: #ffff00;">Wallpaper calculate</span></h1>

<p><strong >How many rolls for a room</strong></p>
<p  style="color:navy"  data-th-if="${result}"> Your result: [[${result}]] </p>
<form action="">
    <input name="wallRoom1" type="text" placeholder="Wall width in m">
    <input name="wallRoom2" type="text" placeholder="Wall length in m">
    <input name="heightRoom" type="text" placeholder="Wall height in m">
    <input name="breadthRoll" type="text" placeholder="Width roll in m">
    <input name="lengthRoll" type="text" placeholder="Length roll in m">
    <button style="color: darkred">Calculate </button>
</form>
</body>
</html>